    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>个人简介</h2>
                <p>本人目前在南京师范大学计算机与电子信息学院/人工智能学院讲师。本科及硕博阶段均就读于南京理工大学，于2022年毕业于南京理工大学计算机科学与工程学院获得工学博士学位,获评2024年度南京理工大学优秀博士论文奖。在2021-2022年期间，在新加坡南洋理工大学参与博士交流项目，指导老师张含望。之后，在2023-2024年期间在新加坡管理大学从事博士后研究，指导老师孙倩茹。</p>
                <p>主要研究方向为视频/图像异常检测。当前以第一作者发表论文五篇，其中CCF A论文三篇包括2篇CVPR，以及一篇T-IP。</p>
                <h2>Profile</h2>
                <p>I am currently a lecturer at the School of Computer and Electronic Information/School of Artificial Intelligence, Nanjing Normal University. I studied at Nanjing University of Science and Technology for both my undergraduate and master's and doctoral degrees. In 2022, I graduated from the School of Computer Science and Engineering at Nanjing University of Science and Technology with a doctoral degree in engineering and was awarded the Outstanding Doctoral Dissertation Award at Nanjing University of Science and Technology in 2024. During 2021-2022, participated in a doctoral exchange program at Nanyang Technological University in Singapore under the guidance of Professor Zhang Hanwang. Afterwards, she will conduct postdoctoral research at Singapore Management University from 2023 to 2024 under the guidance of Professor Sun Qianru.</p>
                <p>My main research direction is video/image anomaly detection. Currently, I have published five papers as the first author, including three CCF A papers, two CVPR papers, and one T-IP paper.</p>
            </div>
        </div>
    </section>
