    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>成果 (Papers)</h2>
                    <p>Hui Lv, Chunyan Xu, Zhen Cui. Global Information Guided Video Anomaly Detection, 28th ACM International Conference on Multimedia (MM) workshop, 2020. 【注：提出了全局信息引导的端到端弱监督异常检测方法】</p>
                    <p>Hui Lv, Chen Chen, Zhen Cui, Chunyan Xu, Yong Li, Jian Yang. Learning Normal Dynamics in Videos with Meta Prototype Network, IEEE Conference on Computer Vision and Pattern Recognition (CVPR), 2021.【注：提出元原型网络，通过对比学习增强异常检测鲁棒性】</p>
                    <p>Hui Lv, Chuanwei Zhou, Zhen Cui, Chunyan Xu, Yong Li, Jian Yang. Localizing Anomalies from Weakly-Labeled Videos. IEEE Transactions on Image Processing (T-IP), 2023.【注：提出了弱监督增强策略实现精准的异常定位方法】</p>
                    <p>Hui Lv, Zhongqi Yue, Qianru Sun, Bin Luo, Zhen Cui, Hanwang Zhang. Unbiased Multiple Instance Learning for Weakly Supervised Video Anomaly Detection, IEEE Conference on Computer Vision and Pattern Recognition (CVPR), 2023.【注：提出无偏多实例学习框架，缓解弱监督视频异常检测中的偏执问题】</p>
                    <p>Lv, Hui, Chao Liu, Xiaowei Zhao, Chunyan Xu, Zhen Cui, and Jian Yang. Lane marking regression from confidence area detection to field inference. IEEE Transactions on Intelligent Vehicles, 2020.【注：提出了基于场推理的车道线检测方法】</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>
